.side-menu {
  width: 300px;
  position: fixed;
  top: 0px;
  left: -350px;
  bottom: 0px;
  background-color: #dadada;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.2);
  transition: ease-in 500ms; }
  .side-menu .header {
    position: relative; }
    .side-menu .header .toggle {
      position: absolute;
      right: -100px;
      top: 20px;
      width: 50px;
      height: 50px;
      border: none;
      border-radius: 50px;
      outline: none;
      cursor: pointer;
      box-shadow: 2px 0px 30px rgba(0, 0, 0, 0.3);
      transition: ease-in-out 500ms;
      transition-duration: 1s, 100ms; }
      .side-menu .header .toggle:active {
        box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.3); }
      .side-menu .header .toggle :hover {
        height: 70px;
        width: 70px; }
  .side-menu.show {
    left: 0px; }
    .side-menu.show .toggle {
      right: -30px;
      transform: rotate(180deg); }
  .side-menu .loading {
    margin: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px blue solid;
    position: relative;
    border-bottom: 4px #ffffff;
    animation: rotate 2s infinite; }

@keyframes rotate {
  100% {
    transform: rotateY(360deg); } }
