@import url('style2.css');
h2{
    /* color: red;
    margin: 40px 20px 0px;

    border-top: solid  20px blue dotted; */

    box-shadow: 1px 1px 2px red; /*  efeito sombra */ 
    text-shadow: 1px 1px 2px red; /*  efeito sombra */ 
    font-family: 'Courier New', Courier, monospace'
}

* {
    font-family: 'Open Sans';
}

.circle{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 20px;  /*  corta a ponta */ 
     overflow: hiden;        /*  corta a palavra na ponta */ 
     box-shadow: 3px 3px 6px 3px brown; /*  efeito sombra */ 

}

.box{
    width:  200px;
    height: 200px;
    border: solid 1px red;
    margin: 20px;
}


.padding{
    padding: 5px;
    box-sizing: padding-box;

}
.border{
    box-sizing: border-box;
}

p{
    text-transform: capitalize ;
    font-variant: small-caps;
}
