   p {
       margin: 0px;
   }
   
   .Desktop {
       width: 1024px;
       height: 1024px;
       background-color: #dbdbdb;
       margin-left: 40px;
       margin-right: 40px;
       padding: 23px;
   }
   
   .primeiroNome {
       width: 800px;
       height: 20px;
       font-family: TimesNewRomanPSMT;
       font-size: 18px;
       line-height: 1.11;
       letter-spacing: normal;
       color: #f70505;
       margin-top: 23px;
       margin-left: 23px;
   }
   
   .segundoNome {
       width: 800px;
       height: 22px;
       font-family: Helvetica;
       font-size: 16px;
       font-weight: bold;
       line-height: 1.25;
       letter-spacing: normal;
       color: #288412;
       margin-left: 23px;
   }
   
   .teceiroNome {
       width: 800px;
       height: 20px;
       font-family: Helvetica;
       font-size: 10px;
       font-weight: 300;
       font-stretch: normal;
       font-style: normal;
       line-height: 2;
       letter-spacing: normal;
       color: #0c32e2;
       padding: 19px;
       margin-left: 23px;
   }
   
   .Lorem-ipsum {
       width: 959px;
       height: 32px;
       font-family: Helvetica;
       font-size: 36px;
       font-weight: bold;
       line-height: 0.56;
       letter-spacing: normal;
       text-align: center;
       color: #3d3d3d;
       margin: 19px;
   }
   
   .primeiroPara {
       width: 978px;
       height: 156px;
       border: solid 3px #f40505;
       padding: 8px 9px;
       box-sizing: border-box;
       margin-top: 39px;
       text-indent: 46px;
   }
   
   .segundoPara {
       width: 978px;
       height: 118px;
       font-family: TimesNewRomanPS-MT;
       font-size: 16px;
       font-style: italic;
       line-height: normal;
       letter-spacing: normal;
       text-align: center;
       color: #3d3d3d;
       border-radius: 10px;
       background-color: #fcf9f9;
       margin-top: 19px;
       margin-bottom: 19px;
       padding: 19px 9px;
   }
   
   .segundoPara p ::first-line {
       font-weight: bold;
       font-style: normal;
   }
   
   .teceiroPara {
       width: 978px;
       height: 210px;
       font-family: TimesNewRomanPS-MT;
       font-size: 21px;
       font-weight: bold;
       font-stretch: normal;
       font-style: italic;
       text-align: right;
       color: #3d3d3d;
       border-radius: 17px;
       border: solid 13px #f9f9fb;
       background-color: #f8f4e7;
       text-align: right;
       margin-top: 19px;
       margin-bottom: 19px;
       padding: 19px 9px;
   }
   
   .teceiroPara p::first-letter {
       font-weight: bold;
       font-size: 40px;
   }
   
   .quartoPara {
       width: 978px;
       height: 118px;
       font-family: TimesNewRomanPS-MT;
       font-size: 21px;
       font-weight: bold;
       font-stretch: normal;
       font-style: normal;
       line-height: normal;
       letter-spacing: normal;
       color: #1c0ed2;
       margin-bottom: 120px;
   }